@charset "UTF-8";
.top {
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.top__heading {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top__breadcrums-link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.top__breadcrums-link:not(:last-child):after {
  content: "/";
  padding: 0 5px;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.top__breadcrums-link:last-child {
  color: #f16d7f;
  font-weight: 700;
}

.swiper {
  max-width: 100vw;
  max-height: 100vh;
  border: 1px solid #eaeaea;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-card {
  position: relative;
  margin-top: -47px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 130px;
}
.swiper-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}
.swiper-card__subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #f16d7f;
  margin-bottom: 12px;
}
.swiper-card__line {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  border: none;
  margin-bottom: 12px;
}
.swiper-card__title {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48px;
}
.swiper-card__text {
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 32px;
  max-width: 555px;
}
.swiper-card__price {
  color: #ef5b70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.swiper-card__choose {
  border-top: 1px solid #eaeaea;
  display: flex;
  gap: 42px;
  justify-content: center;
  padding: 65px;
}
.swiper-card__choose-heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.swiper-card__choose-heading::after {
  content: url("/src/img/arrow.svg");
  padding-left: 9px;
}
.swiper-card__add-link {
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #f16d7f;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}
.swiper-card__cart {
  color: #f26376;
  font-size: 16px;
  margin-right: 11px;
}

@media (max-width: 1024px) {
  .product__product-page .product__item:last-child {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  color: #f16d7f;
  transform: scale(1.1);
}

a:hover .fa-brands {
  color: #f16d7f;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 44px;
  margin-right: 41px;
}

.menu__list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.fa {
  color: #fff;
}

.fa-magnifying-glass {
  font-size: 28px;
}

.fa-bars {
  font-size: 28px;
}

.menu__item:hover .mobile-menu {
  display: block;
}

.fa-user {
  font-size: 28px;
}

.fa-cart-shopping {
  font-size: 28px;
}

.mobile-menu {
  position: absolute;
  top: 70px;
  right: 450px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  display: none;
  z-index: 10;
}
.mobile-menu__item {
  margin-bottom: 20px;
}
.mobile-menu__heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  margin-bottom: 24px;
}
.mobile-menu__title {
  display: block;
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.mobile-menu__link {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  padding: 13px;
}

.main {
  background-color: #f1e4e6;
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main__img {
  max-width: 40%;
}
.main__line {
  border-left: 12px solid #f16d7f;
  padding-left: 10px;
  margin-top: 290px;
}
.main__title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}
.main__subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.main__subtitle span {
  color: #f16d7f;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 96px;
}
.offer__item_big {
  grid-column: span 3;
}
.offer__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer__item img {
  max-width: 100%;
}
.offer__heading {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__heading span {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product {
  margin-bottom: 95px;
}
.product__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 6px;
}
.product__subtitle {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 48px;
}
.product__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}
.product__item {
  max-width: 30%;
  background-color: #f8f8f8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__item:hover .product__img {
  filter: brightness(30%);
}
.product__item:hover .product__add-link {
  position: absolute;
  top: 180px;
  display: flex;
  align-self: center;
  align-items: center;
}
.product__img {
  max-width: 100%;
  margin-bottom: 24px;
}
.product__description {
  padding-left: 16px;
  padding-right: 28px;
  padding-bottom: 20px;
}
.product__heading {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.product__text {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 18px;
}
.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__add-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 2rem;
  border: #fff 1px solid;
  display: none;
}
.product__cart {
  margin-right: 11px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more__link {
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: #f26376 1px solid;
  padding: 1rem 2rem;
}

.feature {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;
  padding-top: 103px;
  padding-bottom: 104px;
}
.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__img {
  color: #f16d7f;
  margin-bottom: 28px;
  font-size: 40px;
}
.feature__heading {
  color: #fbfbfb;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.feature__text {
  color: #fbfbfb;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe {
  padding-top: 97px;
  padding-bottom: 156px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-image: url(/src/img/back_subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 35%;
}
.subscribe__text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__text_italic {
  font-style: italic;
}
.subscribe__right {
  margin-top: 43px;
}
.subscribe__title {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 32px;
}
.subscribe__subtitle {
  font-size: 18px;
  font-weight: 400;
}
.subscribe__form {
  display: flex;
}
.subscribe__email {
  color: #222224;
  opacity: 0.671;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #e1e1e1;
  padding: 10px;
  border: none;
  border-radius: 16px 0 0 16px;
}
.subscribe__button {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #f16d7f;
  padding: 1rem;
  border: none;
  border-radius: 0 16px 16px 0;
}

.footer {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__rights {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__socials {
  font-size: 32px;
}

summary::webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

.filter-sort {
  height: 132px;
  display: flex;
}

.filter {
  padding-top: 13px;
  width: 360px;
  margin-top: 39px;
  margin-left: 10px;
  position: relative;
  z-index: 100;
  background-color: #fff;
}
.filter[open] {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__content {
  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__item-heading {
  color: #f16d7f;
}
.filter__item-heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sort {
  display: flex;
  gap: 18px;
  margin-top: 51px;
  margin-left: 10px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sort__check {
  display: flex;
  gap: 9px;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 22px;
  background-color: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 15px 11px 9px;
  color: #6f6e6e;
  width: 69px;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pagination {
  max-width: 283px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 12px 16px;
  margin-left: calc(50% - 141px);
  margin-top: 48px;
  margin-bottom: 96px;
}
.pagination__numbers {
  color: #c4c4c4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  gap: 18px;
}

.cart {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart__content-list {
  margin-bottom: 72px;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  max-width: 652px;
}
.cart__item-image {
  max-width: 100%;
  margin-right: 31px;
}
.cart__heading {
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 22px;
  margin-bottom: 42px;
  max-width: 200px;
}
.cart__description-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart__description-item {
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__description-item_mode {
  color: #6f6e6e;
}
.cart__price {
  color: #f16d7f;
}
.cart__quantity {
  color: #656565;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 44px;
  text-align: center;
}
.cart__item-delete {
  margin-top: 28px;
  margin-right: 22px;
  margin-left: 57px;
}
.cart__item-delete:hover {
  cursor: pointer;
}
.cart__content-button-box {
  display: flex;
  justify-content: space-between;
}
.cart__content-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 1rem 2rem;
  border: 1px solid #a4a4a4;
  background: #fff;
  cursor: pointer;
}
.cart__content-button:hover {
  color: #fff;
  background-color: #f16d7f;
}
.cart__order {
  width: 30%;
  margin-top: 17px;
}
.cart__order-box {
  margin-bottom: 57px;
}
.cart__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 23px;
}
.cart__form-title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__form-input {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 13px 8px;
}
.cart__form-button {
  color: #4a4a4a;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 1rem;
  border: 1px solid #a4a4a4;
  background: #fff;
  cursor: pointer;
}
.cart__total-box {
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__subtotal {
  color: #4a4a4a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 12px;
  align-self: flex-end;
  padding-right: 34px;
}
.cart__total {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
  align-self: flex-end;
  padding-right: 34px;
}
.cart__total_color {
  color: #f16d7f;
  font-weight: 700;
}
.cart__total-line {
  max-width: 263px;
  color: #e2e2e2;
  margin-bottom: 17px;
  margin-left: 38px;
  align-self: stretch;
}
.cart__total-button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #f16d7f;
  padding: 1rem 2rem;
  border: none;
  margin-bottom: 42px;
  cursor: pointer;
}

.registration {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}
.registration__form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__form-title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__form-input {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 15px 10px;
  max-width: 360px;
}
.registration__form-text {
  color: #b1b1b1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 359px;
}
.registration__radio-btns {
  padding-top: 33px;
  padding-bottom: 35px;
}
.registration__button {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #f16d7f;
  padding: 1rem 2rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 167px;
  margin-top: 39px;
}
.registration__info-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 652px;
}
.registration__info-text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__info-list {
  list-style-type: "✓";
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration__list-item {
  margin-left: 22px;
  padding-left: 23px;
}

#registration_female {
  margin-left: 20px;
  margin-right: 10px;
}

#registration_male {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 356px);
    padding-right: calc(50% - 356px);
  }
  .mobile-menu {
    right: 125px;
  }
  .main__line {
    margin-top: 138px;
  }
  .main__title {
    font-size: 44px;
  }
  .main__subtitle {
    font-size: 24px;
  }
  .product__box {
    gap: 16px;
  }
  .product__item {
    max-width: 45%;
  }
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature__text {
    max-width: 51%;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__left {
    max-width: 51%;
  }
  .product__catalog .product__item:last-child {
    display: none;
  }
  .cart__content {
    width: 100%;
    margin-bottom: 64px;
  }
  .cart__item {
    max-width: 100%;
  }
  .cart__content-button-box {
    justify-content: space-evenly;
  }
  .cart__order {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
  }
  .cart__order-box {
    width: 45%;
    margin-bottom: 0;
  }
  .cart__total-box {
    width: 45%;
  }
  .registration {
    width: 100%;
    flex-wrap: wrap;
  }
  .registration__form {
    width: 45%;
  }
  .registration__info {
    width: 45%;
  }
  .registration__info-title {
    font-size: 16px;
  }
  .registration__info-text {
    font-size: 16px;
  }
  .registration__info-list {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .menu__item:not(:first-child) {
    display: none;
  }
  .mobile-menu {
    right: 0;
  }
  .main {
    justify-content: center;
    padding: 148px 56px;
  }
  .main__img {
    display: none;
  }
  .main__line {
    margin-top: 0;
  }
  .main__title {
    font-size: 38px;
  }
  .main__subtitle {
    font-size: 20px;
  }
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  .product__item {
    max-width: 100%;
  }
  .subscribe__text {
    font-size: 18px;
  }
  .subscribe__subtitle {
    font-size: 14px;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */